/* colors used in the css
#F0F8FF; #1E90FF; #ADD8E6; #84888c; #545759; #00ffff; #8a2be2; #ffffff; #ff0000; #004cff; #4267B2; #fed373; #f15245; #d92e7f; #9b36b7; #515ecf; #1DA1F2; #25D366; #0077b5; #333333; #6f6f6f; 
*/

/* When a new class or id added, add the path in comment */


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #232323;
    color: #1E90FF;
    overflow-x: hidden;
}

.header{
    padding: 0 5% ;
    background-image: url(../image/bf_for_portfolio.png);
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: #ADD8E6; */
}

/* header > navSection */
.navSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header > navSection > navbarBrand */
.navbarBrand{
    font-family: 'Audiowide', cursive;
    font-size: 225%;
}

/* header > navSection > navbarBrand > logo */
.logo{
    text-decoration: none;
}

/* header > navSection > navMap > navList */
.navList{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* header > navSection > navMap > navList > navItem */
.navItems{
    list-style: none;
    font-size: 20px;
    position: relative;
}

/* header > navSection > navMap > navList > navItems > navLinks */
.navLinks{
    text-decoration: none;
    color: #F0F8FF;
    padding: 0 10px;
}

.dropdownButton{
    font-size: 14px;
    transition: all 0.3s linear;
}

.navLinks:hover .dropdownButton{
    transform: rotate(180deg);
}

.about::before, .work::before, .galary::before{
    content: '';
    position: absolute;
    background-color: #f0f8ff;
    height: 3px;
    left: 0;
    right: 0;
    top: 100%;
    border-radius: 10px;
    transform: scaleX(0);
    transition: transform 0.3s linear;
}

.about:hover::before, .work:hover::before, .galary:hover::before,
.about:active::before, .work:active::before, .galary:active::before,
.about:focus::before, .work:focus::before, .galary:focus::before{
    transform: scaleX(1);
}


.myPicture{
    width: 50%;
    height: auto;
    border-radius: 50%;
}









.footer{
    /* background-color: #1E90FF; */
    color: #F0F8FF;
    padding: 5% 5% 5%;
}

/* footer > reviewSection */
.reviewSection{
    /* background-color: #1E90FF; */
    color: #F0F8FF;
    font-family: 'Bree Serif', serif;
    margin: 40px auto;
}

/* footer > reviewSection > form > forNameSection */
/* footer > reviewSection > form > forEmailSection */
/* footer > reviewSection > form > forMessageSection */
.forNameSection,
.forEmailSection{
    align-items: center;
}


.forNameSection input,
.forEmailSection input,
.forMessageSection textarea{
    border-radius: 16px;
    border: 2px solid #84888c;
    margin: 4px 0 10px;
    padding: 8px 12px;
    outline: none;
}

.forNameSection input::placeholder,
.forEmailSection input::placeholder,
.forMessageSection textarea::placeholder{
    color: #545759;
}

.forNameSection input:focus,
.forEmailSection input:focus,
.forMessageSection textarea:focus{
    border: 2px solid #545759;
    outline: none;
}

/* footer > reviewSection > form > submit */
.submitButton{
    background-color: #00ffff;
    margin-left: auto;
    margin-top: 12px;
    display: block;
    border: none;
    padding: 8px 40px;
    border-radius: 60px;
    font-size: 24px;
}

/* footer > resumeSection */
.resumeSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
}

/* footer > resumeSection > textSection */
.textSection{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 32px;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    margin: 0 0 60px;
    font-weight: 1000;
}

/* footer > resumeSection > resumeButton */
.resumeButton{
    position: relative;
    border-radius: 50%;
    box-shadow: 21px 10px 15px #000;
}

.resumeButton button{
    position: relative;
    border: none;
    border-radius: 50px;
    padding: 8px 18px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 900;
    z-index: 1;
    color: #F0F8FF;
    background-color: #4169E1;
    transition: all 0.3s linear;
}

.resumeButton button::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #F0F8FF;
    border-radius: 50px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s linear;
}

.resumeButton button:hover{
    color: black;
}

.resumeButton button:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}

/* footer > resumeSection > connectionSection */
.connectionSection{
    margin: 50px 0 0;
    width: 100%;
}

.facebook, .twitter, .instagram, .linkedin, .whatsapp, .github{
    justify-content: space-around;
    display: flex;
    margin: 12px 0 12px;
}

/* footer > resumeSection > connectionSection > row > col > social */
.social{
    width: 60px;
    height: 60px;
    background-color: #6f6f6f;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    transition: all 0.3s linear;
    box-shadow: 9px 4px 21px #000000;
}

.social:hover{
    background-color: #F0F8FF;
}

/* footer > resumeSection > connectionSection > row > col > social > i */
.social i{
    font-size: 40px;
    color: #F0F8FF;
    transition: all 0.3s linear;
}

.social:hover > i{
    font-size: 45px;
}
.facebook .social:hover > i{
    color: #4267B2;
}
.twitter .social:hover > i{
    color: #1DA1F2;
}
.instagram .social:hover > i{
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%,
    #9b36b7 85%, #515ecf);
    background-clip:text;
    -webkit-background-clip: text;
    color: transparent;
}
.linkedin .social:hover > i{
    color: #0077b5;
}
.whatsapp .social:hover > i{
    color: #25D366;
}
.github .social:hover > i{
    color: #333333;
}

/* footer > copyright */
.copyright{
    text-align: center;
}

/* _________________________________________________________________________________________________ */
/* ekhane experiment er jonne korchi */



.dropdownList{
    position: absolute;
    display: none;
}

.dropdownList ul {
    margin: 0;
    padding: 0 0 0 20px;
    list-style: none;
    line-height: 2;
}

.dropdownList li{
    width: max-content;
}

.dropdownList a{
    text-decoration: none;
}



