/* colors used in the css
#F0F8FF; #1E90FF; #ADD8E6;
*/




body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F0F8FF;
    color: #1E90FF;
}

.header{
    padding: 0 5% ;
    background-image: url(../image/bf_for_portfolio.png);
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: #ADD8E6; */
}

/* header > navSection */
.navSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header > navSection > navbarBrand */
.navbarBrand{
    font-family: 'Audiowide', cursive;
    font-size: 225%;
}

/* header > navSection > navbarBrand > logo */
.logo{
    text-decoration: none;
}

/* header > navSection > navMap > navList */
.navList{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header > navSection > navMap > navList > navItem */
.navItems{
    list-style: none;
}

/* header > navSection > navMap > navList > navItems > navLinks */
.navLinks{
    text-decoration: none;
}

.myPicture{
    width: 50%;
    height: auto;
    border-radius: 50%;
}









.footer{
    background-color: #1E90FF;
    color: #F0F8FF;
    padding: 5% 5% 10%;
}

/* footer > reviewSection */
.reviewSection{
    background-color: #1E90FF;
    color: #F0F8FF;
    font-family: 'Bree Serif', serif;
}

/* footer > reviewSection > form > forNameSection */
/* footer > reviewSection > form > forEmailSection */
/* footer > reviewSection > form > forMessageSection */
.forNameSection,
.forEmailSection{
    align-items: center;
}


.forNameSection input,
.forEmailSection input,
.forMessageSection textarea{
    border-radius: 16px;
    border: 2px solid #84888c;
    margin: 4px 0 10px;
    padding: 8px 12px;
    outline: none;
}

.forNameSection input::placeholder,
.forEmailSection input::placeholder,
.forMessageSection textarea::placeholder{
    color: #545759;

}

.forNameSection input:focus,
.forEmailSection input:focus,
.forMessageSection textarea:focus{
    border: 2px solid #545759;
    outline: none;
}

/* footer > reviewSection > form > submit */
.submitButton{
    background-color: aqua;
    margin-left: auto;
    margin-top: 12px;
    display: block;
    border: none;
    padding: 8px 40px;
    border-radius: 60px;
    font-size: 24px;
}
